html {
    background-color: rgb(213, 233, 240);
    font-family: Courier;
    font-size: 18px;
}

ul {
    width: 500px;
    margin: 100px auto 50px;
    list-style-type: none;
}

li spam.title {
    width: 300px;
    display: inline-block;
}

textarea {
    font-size: 13px;
    display: block;
    margin: 0 auto;
    width: 60%;
    max-width: 60%;
    height: 350px;
}